<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="server=localhost;user id = root;password = root; database=quiz" providerName="MySql.Data.MySqlClient" />
    <!--<add name="con" connectionString="server=148.72.232.172;user id = paul;password = Dmats@123; database=cemix" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <trust level="Full"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     
    </assemblyBinding>
  </runtime>
  
<system.net>
      
</system.net>
</configuration>